---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
.header-text {
  text-align: center;
  color: white;
  font-size: 1.2em;
  margin-bottom: 1.5rem;
}
.page__hero-overlay {
  height: 100vh; /* Adjust as needed */
  background-size: cover;
  background-position: center;
}
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
