---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  <div class="page__hero">
    {% if page.header.overlay_color or page.header.overlay_image %}
      <div class="page__hero-overlay" style="background-color: {{ page.header.overlay_color | default: 'transparent' }}; background-image: {% if page.header.overlay_image %}url('{{ page.header.overlay_image | relative_url }}'){% else %}none{% endif %};"></div>
    {% endif %}
    <div class="wrapper">
      <h1 class="page__title" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      {% if page.header.show_overlay_excerpt != false and page.excerpt %}
        <p class="page__excerpt" itemprop="description">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      <!-- Insert Custom Text -->
      {% if page.header.custom_text %}
        <p class="header-text">{{ page.header.custom_text }}</p>
      {% endif %}
      <!-- End Custom Text -->
      {% if page.header.actions %}
        <p>
          {% for action in page.header.actions %}
            <a href="{{ action.url | relative_url }}" class="btn btn--{{ action.class | default: 'primary' }}">{{ action.label }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
