{% raw %}
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  <div class="page__hero">
    {% if page.header.overlay_color or page.header.overlay_image %}
      <div class="page__hero-overlay" style="background-color: {{ page.header.overlay_color | default: 'transparent' }}; background-image: {% if page.header.overlay_image %}url('{{ page.header.overlay_image | relative_url }}'){% else %}none{% endif %};"></div>
    {% endif %}
    <div class="wrapper">
      <h1 class="page__title" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      {% if page.header.show_overlay_excerpt != false and page.excerpt %}
        <p class="page__excerpt" itemprop="description">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      <!-- Custom Text for Board Page -->
      {% if page.header.custom_text %}
        <p class="header-text">{{ page.header.custom_text }}</p>
      {% endif %}
      <!-- End Custom Text -->
      {% if page.header.actions %}
        <p>
          {% for action in page.header.actions %}
            <a href="{{ action.url | relative_url }}" class="btn btn--{{ action.class | default: 'primary' }}">{{ action.label }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
{% endif %}

{{ content }}
{% endraw %}
